/* home.css */

body {
    background: black;
}

p,
h3,
h2 { color: whitesmoke;}

.contact {
    background: gray;
    padding: 1em;
}

.contact > a {
    color: black;
}

.nav-link {
    color: rgb(187, 186, 186);
}

a:hover { 
    color: white;
}

.nav-pills > li > a.active {
    background-color: lightslategray!important;
}

.name {
    font-family: 'Cinzel', serif;
    font-size: 100%;
    color: whitesmoke;
    padding-bottom: 50px;
}

.expertise {
        font: 400 100px/0.8 'Great Vibes', Helvetica, sans-serif;
        font-size: 150%;
        color: whitesmoke;
}

/* Dropdown Button */
.dropbtn {
    background-color: lightslategray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: lightslategray;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content  */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgba(0, 0, 0, 0.733);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.mainNav {
    display: none;
}

.about,
.headingText,
.heading {
    padding: 2em;
}

/* home page css*/
.michael {
    position: relative; 
    width: 100%;
    padding-bottom: 30px;
}

.introHeading {
    text-align: center;
}

.introP {
    top: 4em;
    right: 2em;
    left: 2em;
    color: whitesmoke;
    text-align: center;
}

.video {
    padding: 2em;
    background: gray;
    max-width: 100%;
    height: auto;
}

.box {
  border: 3px solid;
  color: gray;
}
/* /home */


/* popular contributions page css */

#articleLinks,
#sermonLinks {
    padding: 2em;
}

.articles {
    padding-top: 2em;
}

.introSection {
    padding-bottom: 2em;
}

/* /popular contributions page css */

/* support me page css */
.update {
    padding-left: 5%;
    padding-right: 5%;
}

.update > p > a {
    color: rgb(199, 197, 197);
}

.update > p > a:hover { 
    color: white;
}

.donate,
.donateImages {
    padding: 2em;
}

.paypal {
    padding: 2em;
}

.donateImagesSm {
    padding:2px;
}

.donateImagesMd {
    display: none;
}

.carousel {
    border-radius: 15px;
    max-height: 700px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: gray;
  padding: 2em;
  border-radius: 15px;
}

.watch {
    text-align: center
}

/* Next & previous buttons */
.prev, 
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a see-through black background color */
.prev:hover, 
.next:hover {
  background-color: rgba(0, 0, 0, 0.527);
}

/* Caption text */
.text {
  color: black;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  display: none;
}

/* dot indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

    /* /support me page css */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .mainNav {
        display: inline;
        display: initial;
    }

    .dropbtn {
        display: none;
    }

    .donateImagesSm {
        display: none;
    }

    .donateImagesMd {
        max-height: auto;
        display: inline-flex;
    }

    .donatePics {
        max-height: 300px;
    }

    .name {
        font-size: 200%;
    }

    .expertise {
        font-size: 245%;
    }

    .text {
        display: initial;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) { 
   body {
       max-width: 1600px;
       margin: auto;
   }
}
