/* contact_me.css */



body {
    background: silver;
}

.nav-link {
    color: grey;
}

.heading {
    padding: 2em;
    padding-bottom: 4em;
}

.stainedGlass {
    max-height: 300px;
    display: none;
    background: black;
}

.crucifixion {
    max-height: 300px;
    overflow: hidden;
}

a:hover { 
    color: white;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .crucifixion {
        display: none;
    }

    .stainedGlass {
        display: inline-flex;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
}